.hidden{
  display: none;
}

h1 {
  border: solid;
  border-color: rgb(8, 139, 165);
  border-width: 1px;
  box-sizing: border-box;
  margin-bottom: 10px;
  text-align: center;
  padding: 2px;
  color: white;
  ;
}
h2 {
  border: solid;
  border-color: rgb(8, 139, 165);
}
body {
  color: white;
  font-size: larger;
  border: solid;
  border-color: rgb(8, 139, 165);
  text-align: center;
}
.ruby {
  font-size: 50px;
}
.swift {
  font-size: 50px;
}
.cSharp {
  font-size: 50px;
}

html {
  background-image: url(https://i.pinimg.com/736x/8f/b3/eb/8fb3eb9af9c01d72bb67283c524dfbe8.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}