.hidden{
  display: none;
}

h1 {
  border: solid;
  border-color: black;
  border-width: 10px;
  text-align: center;
  background-color: rgb(195, 182, 182);
  color: black;
}


html {
  text-align: center;
  background-color: rgb(195, 182, 182);
}